<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="characters-list"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="character">
   <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header class="ion-text-center">
            <ion-card-title>{{character.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <img src="{{character.image}}" alt="Imagen" />
            <p>{{character.status}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
   </ion-grid>

  </div>
</ion-content>
